#tree-filter-query {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    font-size: 12px;
}
#tree-filter-query:focus,
#tree-filter-query.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #7B848C;
}
#tree-filter-clear-query {
    float: right;
    margin-top: -35px;
    margin-right: 5px;
    cursor: pointer;
}
#tree-filter-results li a:focus:before,
#tree li a:focus:before {
    content: "↪";
    float: left;
    margin-left: -13px;
    font-weight: bold;
    color: #333;
}